name: release
on:
  release:
    types: [published]
env:
  CI_XCODE_VER: '/Applications/Xcode_11.7.app/Contents/Developer'
  CI_XCODE_BETA_VER: '/Applications/Xcode_13.0.app/Contents/Developer'

jobs:
  cocoapods:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get release version
        run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - name: Update Framework Version
        run: ./Scripts/update_build
        env:
          BUILD_VERSION: ${{ env.TAG }}
      - name: CocoaPods
        run: set -o pipefail && env NSUnbufferedIO=YES pod lib lint --allow-warnings --verbose
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_BETA_VER }}
      - name: Deploy CocoaPods
        run: set -o pipefail && env NSUnbufferedIO=YES pod trunk push ParseSwift.podspec --allow-warnings --verbose
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
          DEVELOPER_DIR: ${{ env.CI_XCODE_BETA_VER }}

  docs:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Gems
        id: cache-gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-v4-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-v4
      - name: Install Bundle
        run: |
          bundle config path vendor/bundle
          bundle install
      - name: Get release version
        run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - name: Create Jazzy Docs
        run: ./Scripts/jazzy.sh
        env:
          BUILD_VERSION: ${{ env.TAG }}
          DEVELOPER_DIR: ${{ env.CI_XCODE_BETA_VER }}
      - name: Deploy Jazzy Docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
